<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <title>Registrar Ativo</title>
</head>

<body>
  <header>
    <%- include('../header.ejs'); %>
  </header>
  <section>
    <% if(errors) { %>
    <ul>
      <% for(let i=0; i < errors.length; i++){ %>
      <li>
        <%= errors[i].msg %>
      </li>
      <% } %>
    </ul>
    <% } %>
  </section>
  <form action="/ativo/salvar" method="post">
    <input type="text" name="tipo" maxlength="40" required placeholder="tipo">
    <input type="text" name="marca" maxlength="30" required placeholder="marca">
    <input type="text" name="modelo" maxlength="20" required placeholder="modelo">
    <input type="text" name="serial_number" required placeholder="serial number">
    <input type="text" name="desgaste" maxlength="20" required placeholder="desgaste">
    <input type="submit" value="enviar">
  </form>

</body>

</html>