<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atualizar Transferência</title>
</head>

<body>
  <header>
    <%- include('../header.ejs'); %>
  </header>
  <h2>Atualizar Transferência</h2>
  <form action="/transferencia/salvar" method="post">
    <h2>ID: </h2>
    <input type="text" name="tipo">
    <input type="text" name="marca">
    <input type="text" name="modelo">
    <input type="text" name="desgaste">
    <input type="text" name="disponilidade">
    <input type="submit" value="Atualizar">
  </form>
</body>

</html>